body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main {
    background-image: url('bg-intro-desktop.png');
    background-size: 100% 100%;
    width: 100%;
    padding: 65px 0px 300px 0px;
}

.header {
    margin: auto;
    text-align: center;
    width: 75%;
    color: #514949;
}

.grow {
    margin: 70px 0px;
    font-size: 15px;
}

.buttons a {
    display: inline-block;
    margin: 0px 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.buttons :nth-child(1) {
    padding: 10px 30px;
    background: #e7332b;
    color: white;
    border: 1px solid #e7332b;
}

.buttons :nth-child(2) {
    padding: 10px 30px;
    background: white;
    color: #e7332b;
    border: 1px solid #e7332b;
}

.buttons :nth-child(1):hover {
    background: white;
    color: #e7332b;
    border: 1px solid #e7332b;
    cursor: pointer;
}

.buttons :nth-child(2):hover {
    background: #e7332b;
    color: white;
    border: 1px solid #e7332b;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.center {
    text-align: center;
    width: 45%;
    margin: 150px auto 50px auto;
    color: #514949;
}

.zuri_programmes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section {
    margin-bottom: 200px;
}

.programme {
    width: 31%;
    margin: 2%;
    padding: 50px 30px 80px 30px;
    background: #fffafa;
}

.programme p  {
    color: #514949;
}

.programme a {
    color: #e7332b;
    text-decoration: none;
}

.programme h4 {
    width: 60%;
    background: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 100px 20px;
    align-items: flex-start;
}

.links, .contact, .socials {
    margin-top: -25px;
    color: #514949;
}

.contact p {
    font-size: 14px;
}

.links h4 {
    color: #514949;
}

.links a, .contact a {
    display: block;
    text-decoration: none;
    color: #e7332b;
    padding-bottom: 15px;
}

.socials a{
    display: inline-block;
    padding-right: 5px;
}

.socials i {
    font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .buttons {
        flex-direction: column;
    }

    .buttons :nth-child(1) {
        width: 200px;
        padding: 10px;
        margin: 15px auto;
        font-size: 14px;
    }
    
    .buttons :nth-child(2) {
        width: 230px;
        padding: 10px;
        margin: 15px auto;
        font-size: 14px;
    }


    .header {
        width: 100%;
    }

    .center {
        width: 100%;
        margin: 50px 10px 30px 10px;
    }

    main {
        padding: 65px 0px 70px 0px;
    }

    .center :nth-child(1){
        font-size: 12px;
    }

    .zuri_programmes {
        flex-direction: column;
        width: 100%;
    }

    .programme {
        width: 100%;
        padding: 40px;
        margin: 10px 0px;
        box-sizing: border-box;
    }

    .grow p, .programme p {
        font-size: 14px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links, .contact, .socials {
        margin-top: 0px;
    }

    .links h4, .contact h4, .socials h4 {
        font-size: 25px;
    }

    .contact, .links, .socials {
        text-align: center;
    }

    .links h4, .contact h4 {
        margin-bottom: -15px;
    }

    .socials h4 {
        margin-bottom: 0px;
    }
}
