body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    padding: 0px 0px;
    margin: -10px -8px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 25;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    display: inline-block;
    margin: 0px 20px;
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 0rem 0.3rem;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #514949;
}

#hire {
    background: #e7332b;
    padding: 10px 35px;
    margin: 0px 20px;
    color: white;
    border-radius: 1px 2px 10px 2px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.link::after {
    content: '';
    width: 0;
    height: 0.3rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 0.3rem;
    bottom: -0.3rem;
    background-color: #e7332b;
    transition: width 200ms ease-in-out;
  }
  
  .link:hover::after, .link:focus::after {
    width: 80%;
  }

  main {
    margin: 130px 0px 80px 0px;
  }

  
.vet {
    text-align: center;
    position: relative;
    width: 50%;
    margin: auto;
}

.vet img {
    position: absolute;
    right: 15px;
    top: 30px;
}

.vet :nth-child(3) {
    color: #514949;
}

.buttons :nth-child(1) {
    background: #e7332b;
    padding: 10px 35px;
    margin: 0px 10px;
    color: white;
    border-radius: 1px 2px 10px 2px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px lightslategray;
    cursor: pointer;
}

.buttons :nth-child(2) {
    background: #514949;
    padding: 10px 35px;
    margin: 0px 10px;
    color: white;
    border-radius: 1px 2px 10px 2px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px lightslategray;
    cursor: pointer;
}

.images {
    margin: 50px 0px;
    position: relative;
}

#img {
    width: 60%;
    height: 70%;
    display: block;
    margin: auto;
}

#again {
    position: absolute;
    right: 0px;
    bottom: 150px;
}

#first {
    background-image: url('1773712003.jpg');
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    padding: 100px 50px;
    margin: -10px -8px;
}

#second {
    width: 45%;
}

#second :nth-child(3) {
    color: #3b3737;
}

section img {
    width: 40%;
    height: 40%;
}

#collection img {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background: white;
    border-radius: 6px;
}

.third {
    padding: 60px;
}

.skills, .work {
    display: flex;
    justify-content: space-between;
    color: #514949;
}

.skills p, .work p {
    padding: 15px 20px;
    box-shadow: 0px 0px 20px lightgray;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

.skills p:hover, .work p:hover {
    transform: translateY(-15px);
}

#sect {
    background: #fff8e5;
    margin: -10px -8px;
    padding: 60px;
    position: relative;
}

#rope {
    width: 350px;
    height: 150px;
    position: absolute;
    top: 450px;
    left: 0px;
}

.divs div img, #alone img {
    width: 78px;
    height: 78px;
}

.divs {
    display: flex;
    justify-content: space-between;
}

.divs div {
    background: white;
    padding: 50px;
    border-radius: 1px 2px 15px 2px;
    margin: 10px;
    width: 45%;
    color: #787878;
    text-align: center;
    position: relative;
    z-index: 20;
}

#alone {
    background: white;
    padding: 50px;
    border-radius: 1px 2px 15px 2px;
    margin: 10px;
    color: #787878;
    text-align: center;
}

.divs div:hover, #alone:hover {
    background: black;
    color: white;
}

#center {
    text-align: center;
    margin-top: 70px;
}

footer {
    background: #161617;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 70px 40px 15px 40px;
    color: white;
    margin: -10px -8px;
}

#papa {
    text-decoration: none;
    color: white;
}

.socials a{
    display: inline-block;
    padding-right: 15px;
}

.socials i {
    font-size: 35px;
}

.pose {
    position: relative;
}

.pose img {
    transform: translateX(150px);
}

.two {
    display: none;
}

#vote {
    font-size: 35px;
}

#another {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .one {
        display: none;
    }
    
    .two {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 10px 0px 10px 20px;
    }

    main {
        margin: 80px 0px;
    }

    .vet {
        width: 85%;
    }

    .vet img {
        right: 10px;
        top: 80px;
    }

    .buttons {
        display: flex;
    }

    .buttons :nth-child(1) {
        padding: 8px 20px;
        margin: 0px 10px;
    }
    
    .buttons :nth-child(2) {
        padding: 8px 20px;
        margin: 0px 10px;
    }

    #img {
        width: 90%;
        height: 70%;
    }
    
    #again {
        display: none;
    }

    #first {
        flex-direction: column;
        padding: 50px 20px;
    }

    #lasted {
        margin-top: 50px;
        width: 100%;
    }

    #second {
        width: 100%;
    }

    #collection img {
        width: 30px;
        height: 30px;
    }

    .third {
        padding: 30px 20px;
    }

    .skills {
        display: grid;
        grid-template-areas: 
          'a b'
          'c d'    
        ;
        gap: 15px;
        text-align: center;
      }
    
      .skills :nth-child(1) {
        grid-area: a;
      }
    
      .skills :nth-child(2) {
        grid-area: b;
      }
    
      .skills :nth-child(3) {
        grid-area: c;
      }
    
      .skills :nth-child(4) {
        grid-area: d;
      }

      .work {
        display: grid;
        grid-template-areas: 
          'a b'
          'c d'    
          'e f'    
        ;
        gap: 15px;
        text-align: center;
      }
    
      .work :nth-child(1) {
        grid-area: a;
      }
    
      .work :nth-child(2) {
        grid-area: b;
      }
    
      .work :nth-child(3) {
        grid-area: c;
      }
    
      .work :nth-child(4) {
        grid-area: d;
      }

      .work :nth-child(5) {
        grid-area: e;
      }
    
      .work :nth-child(6) {
        grid-area: f;
      }

      .divs, footer {
        flex-direction: column;
      }

      #sect, .divs div {
        padding: 20px;
      }

      .divs div {
        width: 82%;
      }

      .pose img {
        transform: translateX(60%);
    }
    

      .pose p {
        display: none;
      }

      #another {
        display: block;
        padding: 15px 0px;
        border-top: 1px solid white;
        text-align: center;
      }

      .socials {
        margin-top: 15px;
        text-align: center;
      }

      .linked p {
        text-align: center;
      }
}
